<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body  class=" bg-black">
<!-- component -->
<div>
    <div class="space-y-12 sm:mx-72 mx-8 bg-black py-20">
  
        <a href="{{ url_for('phoneGath') }}" class="border flex grid py-3 grid-cols-3 rounded-lg shadow-lg shadow-emerald-200 border-white border-t-2 border-l-2 hover:rounded">
            <h3 class="text-center text-white py-5 col-end-3 pl-2">Phone Number</h3>
        </a>
    
        <div class="border flex grid grid-cols-3 py-3 rounded-lg shadow-lg shadow-purple-200 border-white border-t-2 border-l-2 hover:rounded">
            <h3 class="text-center text-white py-5 col-end-3 pl-2">Reconnaissance</h3>
        </div>
  
  
  
        <div class="border flex grid grid-cols-3 py-3 rounded-lg shadow-lg shadow-yellow-200 border-white border-t-2 border-l-2 hover:rounded">
            <h3 class="text-center text-white py-5 col-end-3 pl-2">Discovery and Scanning</h3>
        </div>
  
        <div class="border flex grid grid-cols-3 py-3 rounded-lg shadow-lg shadow-rose-200 border-white border-t-2 border-l-2 hover:rounded">
            <h3 class="text-center text-white py-5 col-end-3 pl-2">Exploitation</h3>
        </div>
  
    </div>
</div>
</body>
</html>